n8n-workflows/amazon-hourly-refresh.json
{
  "name": "Amazon Hourly Price Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hours": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5000/api/internal/amazon/refresh",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_ADMIN_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Success Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.data.newDeals }}",
              "operation": "greater",
              "value2": 0
            }
          ]
        }
      },
      "name": "New Deals Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "subject": "New Amazon Deals Detected! 🎉",
        "body": "🚨 {{ $json.data.newDeals }} new deals detected from Amazon price monitoring!<br><br>Price Changes: {{ $json.data.priceChanges }}<br>Processed: {{ $json.data.processed }}<br><br>Check the admin dashboard for details.<br><br>Timestamp: {{ $now }}"
      },
      "name": "New Deals Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1120,
        100
      ]
    },
    {
      "parameters": {
        "subject": "Amazon Price Refresh - Success",
        "body": "✅ Hourly Amazon price refresh completed.<br><br>Results: {{ $json.data }}<br><br>Timestamp: {{ $now }}"
      },
      "name": "Success Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "subject": "Amazon Price Refresh - Failed",
        "body": "❌ Hourly Amazon price refresh failed.<br><br>Error: {{ $json.error }}<br><br>Timestamp: {{ $now }}"
      },
      "name": "Failure Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        680,
        500
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Success Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Check": {
      "main": [
        [
          {
            "node": "New Deals Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "New Deals Check": {
      "main": [
        [
          {
            "node": "New Deals Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}